.success-body {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px dashed;
    position: relative;
    opacity: 0;
    animation: fadeIn var(--animation-duration) forwards;


    .greet {
        padding: 5px;
    }
    .order_item {
        width: 1000px;
        display: flex;
        
        // margin-top: 10px;
        margin-left: 2px;
        border-top: 1px dashed;
        img {
            width: 150px;
            height: 120px;
            object-fit: cover;
            border-right: 1px dashed;
        }
        p {
            width: 275px;
            display: flex;
            align-items: center;
            padding-left: 80px;
        }
    }

    .total-mony {
        position: absolute;
        bottom: -50px;
        right: 0;
        font-weight: bold;

    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        } 
        to {
            opacity: 1;
        }
    }

}