
.store-box {
    display: flex;
    // border: 2px solid;
    width: 1000px;
    height: 460px;
    overflow: hidden;
    overflow-x: auto; 
    overflow-y: hidden;
    white-space: nowrap; 

    ul {
        display: flex;
       
        li {
            width:200px;
            height: 460px;
            background-position: center;
            padding: 2px;
            object-fit: scale-down;
            &:hover {
                opacity: 0.8;
            }
        }
      
    }

}