.itemBox {  
   display: flex;
    width: 1000px;
    height: 460px;
    opacity: 0;
    animation: fadeIn var(--animation-duration) forwards;

    .img-box {
        flex: 0.5;

        img {
            width: 500px;
            height: 460px;
            object-fit: cover;
            cursor: pointer;
            &:hover {
                opacity: 0.8;
            }
        }
    }

    .item-desc {
        flex: 0.5;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        

        .product-n {
            height: 50px;
            padding-left: 10px;
            font-size: 21px;
            margin-bottom: 30px;
        }
        .product-d {
            height: 50px;
            padding: 10px;
            margin-bottom: 30px;
        }

        .product-p {
            margin-bottom: 30px;
            height: 50px;
            padding: 10px;
        }
        .product-img {
            margin: 0px 10px 20px 10px;
            height: 110px;
            width: 480px;
            border: 1px solid rgb(189, 189, 189);
            display: flex;
            align-items: center;
            justify-content: flex-start;
            overflow: hidden;
            overflow-x: auto;
             white-space: nowrap;

            
            img {
                width: 90px;
                height: 90px;
                margin-left: 5px;
                object-fit: cover;
            }
        }
        .thumbnail {
            cursor: pointer;
            border: 2px solid transparent;
            margin: 5px;
            transition: border-color 0.3s;
          
            &:hover {
              border-color: rgb(209, 208, 208);
            }
          }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            filter: blur(1.5rem);
        } 
        to {
            opacity: 1;
            filter: blur(0);
        }
    }
}

