
.total {
    position: absolute;
    top: 100px;
    left: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .total-content {
    border: 2px solid rgb(209, 209, 209); /* ここをシンプルにします */
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .total-content p {
    background-color: rgb(210, 210, 210);
    width: 196px;
    text-align: center; /* テキストを中央揃えに */
  }
  
  .total-content h2 {
    width: 194px;
    text-align: center; /* テキストを中央揃えに */
  }

  .cart {
    font-size: 15px;
    background-color: black;
    color: white;
    margin-top: 10px;
    width: 200px;
    transition: all 0.3s ease;
    &:hover {
      opacity: 0.7;
  }
  }
  
  .purchase {
    font-size: 15px;
    background-color: red;
    color: white;
    margin-top: 10px;
    width: 200px;
    transition: all 0.3s ease;
    &:hover {
      opacity: 0.7;
  }
  }